@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;

    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;

    --bg: whitesmoke;
    --bg-panel: #EBEBEB;
    --color-headings: #4287f5;
    --color-text: #1D1F20;
    --transition-delay: 0.5s;
}

body {  
    background-color: var(--bg);
    margin-bottom: 700px;
    transition: var(--transition-delay);
}

.container {
    background-color: var(--bg);
    
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "title switch"
    "content content"
    ;
    transition: var(--transition-delay);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
    max-height: 600px;
    max-width: 800px;
}

h1 {
    margin: 15px;
    color: var(--color-headings);
    transition: var(--transition-delay);
}

h4 {
    margin: 15px;
    color: var(--color-text);
    transition: var(--transition-delay);
}

h6 {
    margin: 15px;
    color: var(--color-text);
    transition: var(--transition-delay);
}

p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
    transition: var(--transition-delay);
}

a {
    text-decoration: none;
    color: #a8c5bd;
}

a:active {
    color: greenyellow;
}

a:hover {
    color: #6edcbf;
}

a:visited {
    color: var(--color-headings);
    transition: var(--transition-delay);
}

canvas {
    border-radius: 10px;
    display: flexbox;
    transition: var(--transition-delay);
    position: static;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

canvas:before, canvas:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.toggle {
    display: table;
    margin: auto;
    padding: 10px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: #EBEBEB;
    border-radius: 90px;
    transition: var(--transition-delay);
}

input:checked + label {
    background-color: #4287f5;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

/* .district-table {
    color: var(--color-text);
    position: center;
    margin: auto;
    height: 80vh;
    width: 80vw;
    max-height: 600px;
    max-width: 800px;
    transition: 0.3s;
} */

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color:var(--bg);
    text-align: center;
    transition: var(--transition-delay);
}
