html {
    scroll-behavior: smooth;
}

.chart-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
    max-height: 600px;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: #a8c5bd;
}

a:active {
    color: greenyellow;
}

a:hover {
    color: #6edcbf;
}

a:visited {
    color: var(--color-headings);
    transition: var(--transition-delay);
}
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #e3f2fd;
    text-align: center;
    transition: var(--transition-delay);
}

p {
    font-size: 14px;
}

span {
    font-size: 12px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #e3f2fd;
    bottom: 40px;
    right: 10px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: var(--color-headings);
    transition: var(--transition-delay);
    font-size: 22px;
}

h4 {
    color: rgba(0, 65, 139, 1);
}

h5 {
    color: rgba(255, 188, 0, 1);
}
